body {
    background-color: #dbe6fd;
    padding: 0px;
    margin: 0px;  
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: #092b5ff8;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    box-shadow :10px 5px 5px rgba(0, 0, 0, 0.644);
}

 nav a {
    color:#cfd7ddf1;
    display: flex;
    flex-shrink: 3;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

nav a:hover {
    color: #ffffff;
    background-color: #15508188;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(imgs/pexels-pixabay-326055.jpg);
    background-size: auto;
    right: 100vh;
    color: aliceblue;
    width: auto;
}

h1 {
    flex-shrink: 5;
    margin-top: 350px;
    font-size: 50px;
} 

h2 {
    display: flex;
    margin: 10px 20px;
}


#linktrybe {
    display: flex;
    color: #ced4daad;
    text-decoration: none;
}

#linktrybe:hover{
    color: white;
}

#linksaibamais{
  display: flex;
  border: none;
  text-decoration: none;
  cursor: pointer;
  margin: 190px 10px;
  padding: 15px 30px;
  color: white;
  background-color: #092b5fdf;
  font-size: 19px;
  border-radius: 3px;
}

#linksaibamais:hover{
  background-color: #1c54a8d8;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 10px;
}

.container-me {
    background-color: #293B5F;
    color: #DBE6FD;
    align-self: center;
    padding: 100px 100px;
    width: 300px;
}

.container-me img p {
    display: flex;
    align-self: center;
}

img {
    border-radius: 50%;
}

.container-habilidades {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 20px;
    border-radius: 20%;
    padding: 50px 30px;
}

.skills {
    display: flex;
    flex-flow: column nowrap;
    align-self: flex-start;
}

#CONTATO {
    margin-top: 200px;
    border: 1px solid rgba(0, 0, 0, 0.171) ;
}

.sub-contato {
    margin: 20px;
}

.sub-contato a {
    opacity: 0.8;
    margin:20px ;
    text-decoration: none;
}

.sub-contato a:hover {
    opacity: 1;;
}

footer{
    text-align: center;
    font-size: small;
    border: 1px solid rgba(0, 0, 0, 0.315);
}

