body{
    background-color: #f2e9e4;
    margin-inline: 20px;
    
}

#TOPO {
    text-align: center;
}

h1{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #22223b ;
    background-color: #9a8c98;
    text-align: center;
    font-size: 50px;
    margin-top: 55px;
    padding: 10px;
    border-radius: 5%;
}

h2{
    color: #22223b;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}

h3{
    color: #4a4e69 ;

}

#INDICE{
    margin: 70px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#INDICE ul li {
    font-size: 19px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    margin: 10px;
}

#INDICE  ul li:hover{
    background-color: #daced8;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100px;
    border-radius: 20%;
    padding: 10px;
}

#img{
    float: left;
    border-radius: 30%;
    margin: 20px;
    margin-top: 35px;
    border: 5px solid #ccbcc9;
}
#INFORMACOES {
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;

 }

 #nome{
     text-align: center;
    font-size: 20px;

 }

 #DESCRICAO{
     padding-bottom: 20px;
     padding-right:  100px;
     margin-bottom: 100px;

 }
 .descricaop2{
     font-family:Comic Sans MS, Comic Sans, cursive ;
 }
    
#HABILIDADES{
    text-align: center;
}

.skills{
    display: inline-block;
    padding: 20px;
    margin: 10px;

}

h5{
    font-size: 17px;
}

#HABILIDADES ul{
    text-align: left;
    font-size: 16px;
}
#HABILIDADES ul li{
    margin: 2px;
}
.botaolink{
    
    color: #4a4e69;
    background-color:  #c9ada7;
    font-weight: 100;
    text-decoration: slateblue;
    padding: 10px;
    border-radius: 25%;
    font-style: oblique;
    margin-top: 200px;
    padding-top: 10px;
}

.linkscontato{
    border-radius: 25% ;
    padding: 20px;
    ;

}

div {
    border: 1px solid rgb(0, 0, 0);
    
}